extends ../layout

block pagestyles

block content
	.container-fluid
		form(class='entryForm', method='Post', action='confirmcontract')
			.row
				.col-md-12.col-sm-12.col-xs-12.col-lg-12
					.panel.panel-info
						div(class='menupanel panel-heading')
							span(class='backspan')
								a(href='../')
									span(class='glyphicon glyphicon-chevron-left', aria-hidden='true')
							div(align='center')
								h1(class='panel-title') Confirm Contract
						div(class='panel-body')
							.row
								.col-12
									.input-group.input-group-lg
										span(class='input-group-addon',id='studentNameAddon') Student
										input(id='studentName',name='studentName', class='form-control', aria-describedby='studentNameAddon', value=studentName)
							.row
								.col-12
									.input-group.input-group-lg
										span(class='input-group-addon',id='nameAddon') Name
										input(id='name',name='name', class='form-control', aria-describedby='nameAddon', value=name)
							.row
								.col-12
									.input-group.input-group-lg
										span(class='input-group-addon',id='startDateAddon') Start Date
										input(id='startDate',name='startDate', class='form-control', aria-describedby='startDateAddon', value=startDate)
							.row
								.col-12
									.input-group.input-group-lg
										span(class='input-group-addon',id='endDateAddon') End Date
										input(id='endDate',name='endDate', class='form-control', aria-describedby='endDateAddon', value=endDate)
							.row
								.col-12
									.input-group.input-group-lg
										span(class='input-group-addon',id='hourlyRateAddon') Hourly Rate
										input(id='hourlyRate',name='hourlyRate', class='form-control', aria-describedby='hourlyRateAddon', value=hourlyRate)
							.row
								.col-12
									.input-group.input-group-lg
										span(class='input-group-addon',id='hoursAddon') Hours
										input(id='hours',name='hours', class='form-control', aria-describedby='hoursAddon', value=hours)
							.row
								.col-12
									input(id='student',name='student', class='form-control', value=student, type='hidden')
							.row
								.col-12
									button(type='submit', class='submitButton btn btn-default btn-lg btn-block') Accept
						.panel-footer
block pagescripts